<div class="form">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="regno">Register No</label><br />
      <input type="text" name="regno" [(ngModel)]="regno" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="term">Term</label><br />
      <input type="text" name="term" [(ngModel)]="term" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="maths">Maths</label><br />
      <input type="text" name="maths" [(ngModel)]="maths" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="phy">Physics</label><br />
      <input type="text" name="phy" [(ngModel)]="phy" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="che">Chemistry</label><br />
      <input type="text" name="che" [(ngModel)]="che" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="bio">Biology</label><br />
      <input type="text" name="bio" [(ngModel)]="bio" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="his">History</label><br />
      <input type="text" name="his" [(ngModel)]="his" autocomplete="off" />
    </div>
    <div class="form-group">
      <input type="submit" value="Add" />
    </div>
  </form>
</div>
